# Ambiente virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Credenciais Kaggle
.kaggle/
kaggle.json